@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-md;
  }

  .gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r;
  }
}
